* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

.header {
    position: relative;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.header .navbar-brand i {
    color: #dc4f72;
    font-size: 30px;
}

.header .navbar-brand span {
    font-size: 30px;
    font-weight: bold;
    color: #dc4f72;
}

#navbarSupportedContent .nav-item {
    margin: 0 10px;
}

#navbarSupportedContent .nav-item .nav-link {
    transition: all 0.5s;
}

#navbarSupportedContent .nav-item:hover .nav-link {
    color: #dc4f72;
}

#navbarSupportedContent .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    display: block;
    transition: all 0.5s;
    margin-left: 8px;
}

#navbarSupportedContent .nav-item:hover::after {
    width: 30%;
}

#navbarSupportedContent .nav-item.active .nav-link {
    color: #dc4f72;
}

.btn__header {
    border-color: #dc4f72;
    color: #dc4f72;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn__header:hover {
    background-color: #dc4f72;
    border: 0px solid #dc4f72;
}


/* carousel */

.carousel {
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

.carousel__box {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.carousel__left h1 {
    font-size: 50px;
    font-weight: 550;
    width: 75%
}

.carousel__left p {
    font-size: 20px;
    width: 64%;
    opacity: 0.7;
}

.carousel__left button {
    border-color: #dc4f72;
    color: #dc4f72;
    cursor: pointer;
    padding: 15px 25px;
}

.carousel__left button:hover {
    background-color: #dc4f72;
    border: 0px solid #dc4f72;
}

.carousel__right img {
    transform: rotate(180deg);
}


/* project */

.project__box {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.project__top span {
    color: #dc4f72;
    font-weight: 600;
}

.project__top h1 {
    font-weight: 600;
    width: 60%;
    margin-left: 20%;
}

.project__top p {
    width: 65%;
    margin-left: 18%;
    margin-top: 2%;
    opacity: 0.7;
}

.project__item {
    background-color: #f7f9fc;
    border-radius: 10px;
}

.project__item img {
    margin: 50px 0 20px;
}

.project__item p {
    margin: 0 20px 50px;
}


/* feature */

.feature {
    background-color: #f7f9fc;
    padding: 50px 0;
}

.feature__box {
    width: 80%;
    margin: 0 auto;
}

.feature__left h6 {
    color: #dc4f72;
    font-weight: bold;
}

.feature__left h2 {
    font-weight: bold;
}

.feature__left p {
    width: 110%;
    opacity: 0.7;
}

.feature__left button {
    background-color: #dc4f72;
    padding: 15px 25px;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    color: #fff;
}

.feature__right img {
    width: 540px;
    border-radius: 5px;
    margin-left: 156px;
}

.feature__item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.feature__item h6 {
    font-weight: bold;
}

.feature__item span {
    color: #dc4f72;
    font-weight: bold;
    font-size: 55px;
}

.feature__item p {
    opacity: 0.7;
}


/* content */

.content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
}

.content__box {
    width: 80%;
    margin: 0 auto;
}

.content__box h2 {
    color: #fff;
    font-weight: bold;
}

.content__box p {
    color: #fff;
    opacity: 0.7
}

.content__box button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
}


/* solution */

.card__box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.card__top h6 {
    color: #dc4f72;
}

.card__top h1 {
    font-weight: bold;
    font-size: 40px;
}

.card__top p {
    margin-left: 20%;
    width: 62%;
    opacity: 0.7;
}

.card__list {
    gap: 23px;
    text-align: left;
    margin: 0 auto;
    width: 98%;
}

.card__item {
    width: 32%;
    position: relative;
    transition: all .5s;
}

.card__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__item__top p:first-child {
    background-color: #dc4f72;
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    left: 63%;
    border-radius: 0 5px 0 0;
    z-index: 10;
}

.card__item__top img {
    border-radius: 5px 5px 0 0;
    filter: grayscale(150%) contrast(50%);
    transition: all .5s;
}

.card__item:hover img {
    filter: grayscale(0%);
}

.card__item1 {
    background-color: rgb(238 97 120 / 20%);
    width: 20%;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #dc4f72;
    font-weight: bold;
    margin: 24px 0 0 20px;
}

.card__item2 {
    background-color: rgb(0 128 0 / 20%);
    width: 20%;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #008000;
    font-weight: bold;
    margin: 24px 0 0 20px;
}

.card__item3 {
    background-color: rgb(0 0 255 / 20%);
    width: 20%;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #0000ff;
    font-weight: bold;
    margin: 24px 0 0 20px;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.card-text {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    opacity: 0.7;
    width: 83%;
}

.card__a {
    color: #dc4f72;
}

.card__a i {
    font-size: 10px;
    transition: all 0.5s;
}

.card__item:hover .card-title a {
    color: #dc4f72;
}

.card__a:hover {
    text-decoration: none;
    color: #dc4f72;
}


/* faq */

.faq {
    background-color: #f7f9fc;
    padding: 66px 0;
}

.faq__box {
    width: 80%;
    margin: 0 auto;
}

.faq__top {
    text-align: center;
}

.faq__top h6 {
    color: #dc4f72;
    font-weight: bold;
}

.faq__top h1 {
    font-size: 45px
}

.faq__top p {
    width: 65%;
    margin-left: 19%;
    opacity: 0.7;
}

.faq__left img {
    width: 470px;
}

overflow
/* experience */

.experience__box {
    width: 80%;
    margin: 0 auto;
}

.experience__top {
    text-align: center;
}

.experience__bot {
    width: 80%;
    margin: 0 auto;
}

.experience__right img {
    width: 555px;
}